body {
    position: relative;
    height: max-content;
    font-size: 1.2rem;
}

h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.blogs-main {
    display: grid;
}

.blogs-news,
.blogposts {
    padding: 8px 10%;
}

.blogs-news {
    background-color: #e6e9ed;
}

.blogpost-article {
    margin: 8px 4px 16px 4px;
}

.blogs-news .blogpost-article {
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: 55% auto;
}

.blogpost-article img {
    width: 100%;
}

.blogpost-article__info {
    padding: 8px 0;
}

.blogs-news .blogpost-article__info {
    padding-left: 8vw;
}

.blogpost-article__info p {
    margin-bottom: 24px;
}

.blogpost-article__button {
    width: max-content;
    padding: 8px 12px;
    text-align: center;
    border: 1px solid var(--color-decoration);
}

.blogpost-article__button:hover {
    background-color: var(--color-decoration);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.blogposts__title {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 12px;
    border-bottom: 2px solid #e6e9ed;
}

.blogposts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 248px);
    column-gap: 8px;
    justify-content: center;
}

.blogposts-container .blogpost-article__img {
    width: 100%;
}