@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
    --main-green: #48cfad;
}

body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 138px;
}

header .header-social-icons {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-green);
}

header .header-social-icons .social-icons {
    width: 300px;
    height: 48px;
    margin-right: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .social-icons span {
    color: white;
}

nav {
    height: calc(100% - 40px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav .nav-logo-container {
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .nav-logo-container img {
    width: 220px;
}

nav .nav-my-profile {
    margin-right: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .nav-my-profile a {

    font-size: 1.8rem;
    color: black;
    border-bottom: 1px solid black;
}

.home-main {
    position: relative;
    height: calc(100% - 138px);
    display: grid;
    place-content: center;
    background-image: url('../assets/img/Cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-main__text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    justify-self: center;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 1.0rem;
    color: white;
}

.home-main__button {
    width: auto;
    height: auto;
    padding: 12px;
    font-size: 2.0rem;
    font-weight: bold;
    background-color: var(--main-green);
    border-color: white;
}